<h1>About The DFF project</h1>
<p>Find me in app/views/static_pages/aboutproject.html.erb</p>

<h1>Growing Pains: Triumphs and Grumblings</h1>
<h4>26.12.2016</h4><p>13:55 Hooray, mobile first nav bar finally completed!! Thank you, W3JSchool! Felt like wasted yesterday as had to totally scrap the nav bar that hubby and I spent several hours debugging. But, definitely a good learning lesson to plan ahead and not to forget that we're in the age of the mobile! <br><br>Next goal: set an administrator so that only I can post on blogs. Also, be able to upload photos on CKEditor. (Resource: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-2.html )  </p>
<h4>25.12.2016</h4><p>Merry Christmas! Today I woke up to the satifaction that I had completed my CKEDITOR installation. (Resource: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-1.html ) HoHoHo. But then realized that my toolbar doesn't work anymore. The dropdown parts have totally disappeared. Ack! Spent pre-Christmas dinner trying to figure out. Hubby comes to rescue. Many christmas cookies later finally solved issue. Before we retired to sleep, hubby makes the oberservation - hmm... what will you doing for mobile? Hovering doesn't work very well there.<br><br>Oh man. Seriously?</p>

