<h1>About The DFF project</h1>

<p>2016 is a year of upheaval and change for me. I bid my posh banking job goodbye and started a new introspection and career search, I got married to a wonderful man (he will occassionally pop up as 'hubby' in my posts), I started learning one of the most gramatically complicated languages in the world (German), and, I started learning front and back end web development. During this transition period, I decided to work on something I've always been interested in - namely, food, photography, and web development. Well, put everything together, and voila! there is //The DFF Project//.</p>
<p>So, what exactly is //The DFF Project//?</p><p> DFF is an acronym of Different Familiar Flavors. I have been fortunate to have traveled and lived extensively in many different parts of the world. I was introduced to various cuisines, and as such, the various flavor profiles of different cultures have left their marks on me. While I enjoy trying out new foods, I sometimes find myself wishing that I could just resample some of the familiar flavors of a taste memory from a world away. The goal of //The DFF Project// is to carry with me these flavors to a different place and time. It is as much to share these flavors in this new place as it a way for my friends and family a world or two away to follow and enjoy my food discoveries.</p>
<p>So how will this project take shape? It is still a discovery process for me. The main goal is sharing the flavors I know and discovering new flavors. This is likely to take shape in the form of a blog and a recipe exchange. But, stay tuned, as it is likely to ever evolve. The other goal is standardization and reproduction. (How much exactly is a cup anyways? Did you know that there are different "spoon" measures in the world? And, how do you get that ingredient?). </p> 
<p>Process: I am probably taking the longest and hardest way around in building this project. Forgoing Blogger, Wix, WordPress, and other useful services that are there for a reason, I am building everything on this website from scratch (Hallooo~, HTML, CSS, Javascript, Ruby! Let's chum up. And you too, Google!). I have just completed a six month online web development course and my goal is to utilize what I have learned. The downside: frustration and likely slow progress. The upside? You can see my website evolve and see the triumphs and frustrations of a first time coder! My updates will be logged below.</p>

<h1>Growing Pains: Triumphs and grumblings of a first time coder</h1>
<h4>Resources and References used so far:</h4>
<p>CareerFoundry. Bootstrap. Github. Ruby (Gems: Devise, CanCanCan, CKEditor). Sublime Text. Terminal. W3JSchool. stackoverflow.</p>
<h4>To-do List:</h4>
<p>In no particular order:</p>
	<ul>
			<li><s>Create an accordian to house my musings</s>(02.01.2017)</li>
			<li>Choose color scheme</li>
			<li><s>Create an "under construction" page </s> (02.01.2017)</li>
			<li>Edit my Favicon</li>
			<li>Add a 'forget password' link</li>
			<li>Add mail actions for signups</li>
			<li>Create a contact page</li>
			<li>Create an index page</li>
			<li>Add Chinese</li>
			<li>Format the blog index page</li>
			<li>Format the blog viewing page</li>
			<li><s>Add a Travelogs category</s>(03.01.2017)</li>
			<li>Work on About Me</li>
			<li>Style the log in pages</li>
			<li>Print function for recipes</li>
			<li>Comment function for signed in guests</li>
	</ul>
<h4>Work Log</h4>

<!--Accordian start-->
<button class="accordion">04.01.2017 Navigation bar styled and Contact Form created </button>
	<div class="panel">
	<p> A bow to all designers. Designing and creating beautiful layouts is harder than I imagined. Played all day yesterday and today trying to do the correct formating, but it definitely takes quite a bit of time!</p>
	<p> Also, decided to create the contact page. Currently trying to work through the intricacies of recaptcha.</p>
	<p> Resource consulted: https://www.sitepoint.com/quick-tip-add-recaptcha-to-your-rails-application/ </p>
</div>

<button class="accordion">02.01.2016 To-do List created as well as a favicon and accordian </button>
	<div class="panel">
		<p>It took a bit longer to put the Favicon icon up than I had hoped. The trick is to put the .png file in the right position - and for Ruby on Rails apps, it's in the public folder. </p>
		<p>Also finally put in the accordian. Can't believe I forgot how to add javascript. Need to figure out the 'correct' way than what I have done here.</p>
		<p>Resource Consulted: http://www.w3schools.com/howto/howto_js_accordion.asp </p>
	</div>

<button class="accordion">30.12.2016 And... we are now live! </button>
	<div class="panel">
  	<p><b><23:10: Finally whole site working!> </b>Couldn't sleep. Sat in the dark trying to figure out what the problem was. Hubby sat down next to me and quietly listened to the issue. "It had worked perfectly on my local machine!"" I complained.</p>
		<p>"You must have forgotten a database migration," he said, looking through my heroku log.</p>
		<p>Time to eat humble pie. I thought that I had gotten quite familiar with database migrations, but seems like there is always more to learn! Ran the requisite migration onto heroku, and finally, all is working.</p>
		<p><b><17:00: Uploaded onto Heroku!></b> One day before the new year, and my website is live! Quickly noticed however that there are still access problems. The blog and sign-in sessions are totally down. </p>
		<p><b><16:00: Successfully implemented admin approval></b>This is a bit of a work around. While in beta-version, I would like to invite(drag in) some friends to help test the site. However, to spare the poor guest visitor from having to sign up for something that is not yet working yet, I have added a large disclaimer. All accounts will need be first approved by me. I am sure this is not best practice, but hopefully this is only a temporary state!</p><p>Resource consulted: https://github.com/plataformatec/devise/wiki/How-To:-Require-admin-to-activate-account-before-sign_in </p>
		<p><b><10:45: Successfully configured admin rights!> </b> This was harder than I had expected. The culprit was a small 'a' - I had mistakenly mispelled 'boolean' as 'booleen.' This had totally messed up my database migrations. Well, first I had to find out why everyone had admin rights even when they were not supposed to. Then, once I found the problem, I had to get up close and personal with database migrations. Well, now I know how they work, so all in all, a foregone hour that was well worth it. </p>
</div>
<button class="accordion">29.12.2016 Reviewing authentication and authorization</button>
	<div class="panel">
  	<p><p><b><16:00></b> I am getting closer and closer to posting my website online! (Rub my hands in glee). I have finally set up authentication and authorization, but have yet to test them. At least theoretically now I have sole proporiety on writing and editing blog posts. Once that's done, I can finally load the whole thing online. Can't wait for that! Oh, and I probably should put in a why I'm doing this project onto this page, because at this point, it has definitely got to be the ugliest site on the internet. </p>
  </div>
<button class="accordion">26.12.2016 Remembering mobile first and the fallability of tutorials</button>
	<div class="panel">
		<p><p><b><18:10></b> Tutorials, very unfortunately are not almighty. Tinkered a very long time to figure out how to upload photos on CKEditor. Through lots of googling and hubby help, finally realized that one important app (Imagemagick) was missing. Then, there was an error with a version 3.6 of Minimagik, and 3.5 is necessary. Finally, need to change a line in uploader file. <br> Need to learn how to google better - seems like the trick really is copying in error message verbatim! - Sometimes simple is best. </p>
		<p><b>Next Goal:</b> I am delaying adding admin rights until tomorrow. Will be re-tackling the materials from CareerFoundry.</p>
		<p><b><13:55></b> Hooray, mobile first nav bar finally completed!! Thank you, W3JSchool! Felt like wasted yesterday as had to totally scrap the nav bar that hubby and I spent several hours debugging. But, definitely a good learning lesson to plan ahead and not to forget that we're in the age of the mobile!</p>
		<p>Next goal: set an administrator so that only I can post on blogs. Also, be able to upload photos on CKEditor. </p>
		<p> Resource consulted: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-2 )  </p>
</div>

<button class="accordion">25.12.2016 The blog model and the art of creating entries</button>
	<div class="panel">
		<p>Merry Christmas! Today I woke up to the satifaction that I had completed my CKEDITOR installation. (Resource: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-1 ) HoHoHo. But then realized that my toolbar doesn't work anymore. The dropdown parts have totally disappeared. Ack! Spent pre-Christmas dinner trying to figure out. Hubby comes to rescue. Many christmas cookies later finally solved issue. Before we retired to sleep, hubby makes the oberservation - hmm... what will you doing for mobile? Hovering doesn't work very well there.</p><p>Oh man. Seriously?</p>
	</div>

<button class="accordion">
14.12.2016 Birth of The DFF Project</button>
<div class="panel">
	<p><b><13:52:> $ rails new DFF -T </b></p>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>

<!--Accordian Ends-->

