<h1>About The DFF project</h1>
<p>I am taking probably taking the slowest way around to undertake this website project. I am building everything from scratch. It is late 2016, and I have just completed a 6 month online webdevelopment course. </p>

<h1>Growing Pains: Triumphs and Grumblings</h1>
<h4>26.12.2016</h4>
<p><b><18:10></b> Tutorials, very unfortunately are not almighty. Tinkered a very long time to figure out how to upload photos on CKEDITOR. Through lots of googling and hubby help, finally realized that one important app (Imagemagick) was missing. Then, there was an error with a version 3.6 of Minimagik, and 3.5 is necessary. Finally, need to change a line in uploader file. <br> Need to learn how to google better - seems like the trick really is copying in error message verbatim! - Sometimes simple is best. </p>
<p><b>Next Goal:</b> I am delaying adding admin rights until tomorrow. Will be re-tackling the materials from CareerFoundry.</p>
<p><b><13:55></b> Hooray, mobile first nav bar finally completed!! Thank you, W3JSchool! Felt like wasted yesterday as had to totally scrap the nav bar that hubby and I spent several hours debugging. But, definitely a good learning lesson to plan ahead and not to forget that we're in the age of the mobile!</p>
<p>Next goal: set an administrator so that only I can post on blogs. Also, be able to upload photos on CKEditor. (Resource: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-2.html )  </p>
<br>
<h4>25.12.2016</h4><p>Merry Christmas! Today I woke up to the satifaction that I had completed my CKEDITOR installation. (Resource: https://scotch.io/tutorials/build-a-blog-with-ruby-on-rails-part-1.html ) HoHoHo. But then realized that my toolbar doesn't work anymore. The dropdown parts have totally disappeared. Ack! Spent pre-Christmas dinner trying to figure out. Hubby comes to rescue. Many christmas cookies later finally solved issue. Before we retired to sleep, hubby makes the oberservation - hmm... what will you doing for mobile? Hovering doesn't work very well there.</p><p>Oh man. Seriously?</p>

