<h1>About the project</h1>
<p>Find me in app/views/static_pages/aboutproject.html.erb</p>

<h1>Growing Pains: Triumphs and Grumblings</h1>
<h4>26.12.2016</h4><p>Time to work out responsive nav bars. Back to CareerFoundry 101.</p>
<h4>25.12.2016</h4><p>Merry Christmas! Today I woke up to the satifaction that I had completed my CKEDITOR installation. HoHoHo. But then realized that my toolbar doesn't work anymore. The dropdown parts have totally disappeared. Ack! Spent pre-Christmas dinner trying to figure out. Hubby comes to rescue. Many christmas cookies later finally solved issue. Before we retired to sleep, hubby makes the oberservation - hmm... what will you doing for mobile? Hovering doesn't work very well there.<br><br>Oh man. Seriously?</p>

