.top {
  text-align: center;
  color: #ED8A00;
  margin-bottom: -17px;
}

//For CKEDITOR

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 15px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #ED8A00;

  &:visited {
    color: #ED8A00;
  }

  &:hover {
    color: #ED8A00;
    background-color: transparent;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.alert {
  padding: 5px;
}

//navbar

.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
      float: none;
      display: inline-block;
    }
}

.navbar {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}


.navbar-default .navbar-toggle {
  border-color: #fff; /* Change border color around this buttons */
  background: #fff; /* Change background for button itself */
}

.navbar-default .navbar-toggle .icon-bar {
  background: #ED8A00; /* Change color for horizontal lines */
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ED8A00;
    background-color: #fff;
}

ul.nav a:hover, a:active, a:focus { color: #ED8A00 !important; background-color: #fff;}

.navbar-default .navbar-brand .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}


footer {
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}